import(S4Vectors)
import(IRanges)
import(GenomicRanges)
import(Biostrings)
#import(rtracklayer)
import(AnnotationDbi)
import(GenomicFeatures)

importFrom(rtracklayer,browserSession, ucscTableQuery,
            tableNames, getTable, trackNames, ucscSchema)

export(PrepareAnnotationGENCODE,
    PSMtab2SAM
)

