import(Biostrings)
import(GenomicFeatures)
#import(rtracklayer)
import(IRanges)
import(GenomicRanges)
import(AnnotationDbi)
importFrom("utils", "read.delim")

importFrom(rtracklayer,browserSession, ucscTableQuery,
            tableNames, getTable, trackNames, ucscSchema)

export(PrepareAnnotationGENCODE,
    PSMtab2SAM
)

